@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Open Sans';
    src: url('fontes/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('opentype');
    src: url('fontes/OpenSans-Regular.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
}

.header {
    max-width: 1100px;
    height: 150px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header img {
    width: 220px;
    height: 100px;
}

.social {
    height: 32px;
    display: flex;
    gap: 20px;
}

.social a:hover {
    background-color: #95E200;
}

#buscar {
    padding: 8px;
}

main {
    margin-bottom: 100px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.menu-area {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.menu-item {
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #95E200;
}

.menu-item img {
    width: 70px;
    height: 60px;
}

.menu-item .email {
    width: 60px;
    height: 50px;
}

.menu-item p {
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
}

.filters {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
}

.filters-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.content-area {
    width: 165px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.content-area:hover,
.content-area-big:hover {
    background-color: #95E200;
}

.content-area-big {
    width: 165px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.content-area-big img {
    width: 120px;
    height: 90px;
}

.content-area-last {
    display: flex;
    justify-content: flex-start;
    gap: 22px;
}

.content-area img {
    width: 90px;
    height: 90px;
}

.banner {
    margin-top: 50px;
}

.banner-area {
    height: 200px;
    background-color: #000;
}

footer {
    height: auto;
    background-color: #17181C;
}

.footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-footer img {
    width: 200px;
    height: 70px;
    margin-top: 30px;
}

.footer-area {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 70px;
}

.footer-area-box {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.footer-area-box h4 {
    font-family: 'Open Sans';
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer-area-box p {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-area-box h4:hover,
.footer-area-box p:hover {
    color: #95E200;
}

.footer-area-end {
    font-family: 'Open Sans';
    font-weight: 100;
    color: #FFF;
    margin: 30px 0px 10px 0px;
}